<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myseckill.seckill.dao.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.myseckill.seckill.pojo.Order">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="goods_id" property="goodsId" />
        <result column="delivery_add_id1" property="deliveryAddId1" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_count" property="goodsCount" />
        <result column="goods_price" property="goodsPrice" />
        <result column="order_channel" property="orderChannel" />
        <result column="order_status" property="orderStatus" />
        <result column="creaate_date" property="creaateDate" />
        <result column="pay_date" property="payDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, goods_id, delivery_add_id1, goods_name, goods_count, goods_price, order_channel, order_status, creaate_date, pay_date
    </sql>

</mapper>
